config MACH_LGE
	bool "Machine LGE"
	help
	  Support for machine LGE.

menu "LGE Specific Patches"

config LGE_HANDLE_PANIC
	tristate "Support LGE Crash Handler"
	default n
	depends on MACH_LGE
	help
	  LGE Crash Handler

config LGE_MSM8996_ISB_WA
	bool "Support ISB workaround for prevent MSM8996 timing issue"
	default n
	depends on MACH_MSM8996_LUCYE
	help
		MSM8996 has timing issue sometimes.
		This feature prevents timing issue as inserting isb().

config LGE_MSM8996_NOP_WA
	bool "Support NOP workaround for prevent MSM8996 timing issue"
	default n
	depends on MACH_MSM8996_LUCYE
	help
		MSM8996 has timing issue sometimes.
		This feature prevents timing issue as inserting nop().

config LGE_MSM8996_FLUSH_WA
	bool "Support flush workaround for prevent MSM8996 timing issue"
	default n
	depends on MACH_MSM8996_LUCYE
	help
		MSM8996 has timing issue sometimes.
		This feature prevents timing issue as inserting flush.

config LGE_BOOT_LOCKUP_DETECT
	bool "Support to detect lockup during powering on"
	default n
	depends on LGE_HANDLE_PANIC
	help
	  For detecting lockup in boot , use simple detector which
	  raise crash when expired some period after boot.

config LGE_REBOOT_LOCKUP_DETECT
	bool "Support to detect lockup during powering off"
	default n
	depends on LGE_HANDLE_PANIC
	help
	  For detecting lockup in reboot or shutdown, use simple
	  detector which raise crash when expired some period after
	  reboot like system call.

config LGE_POWER_ONOFF_LOCKUP_DEBUG
	bool "Support to debug lockup during powering off"
	default n
	depends on LGE_HANDLE_PANIC
	help
	  For debugging lockup in reboot or shutdown, use simple
	  detector which raise crash when expired some period after
	  reboot like system call.

config LGE_BOOTLOADER_LOG
	tristate "Support LGE bootloader log"
	default n
	depends on MACH_LGE
	help
	  LGE bootloader log


endmenu

menu "LGE QFPROM Values"

config LGE_QFPROM_INTERFACE
	bool "Support qfprom interface"
	default n
	depends on MACH_LGE
	help
	  LGE QFPROM DRIVER.
endmenu

source "drivers/soc/qcom/lge/power/Kconfig"
